.wrapper {
	position: relative;
	top: 35vh;
	left: 15vw;
}

.header {
	font-size: 50px;
	font-weight: normal;
}

.subheader {
	color: #9fcedb;
	font-weight: normal;
}

.button {
	background: transparent;
	padding: 10px 20px;
	border-radius: 3px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1.2px;
}
