.nav {
	display: flex;
	justify-content: space-between;
	margin: 10px 35px;
}

.list {
	display: flex;
}

.link {
	color: #fff;
	margin: 0 10px;
	padding: 10px;
}

.link:hover {
	border-bottom: 1px solid #fff;
}
